<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://qiniu.netqu.cn/IntelligentPeople.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://app-icon.pgyer.com/b/8/9/b/e/b89be7e4b8f905fec4082677f7b0fc77?x-oss-process=image/resize,m_lfit,h_120,w_120/format,jpg</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://app-icon.pgyer.com/b/8/9/b/e/b89be7e4b8f905fec4082677f7b0fc77?x-oss-process=image/resize,m_lfit,h_120,w_120/format,jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.cmeplaza.intelligent.preview</string>
                <key>bundle-version</key>
                <string>4.6.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>中机云集团</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
